<!DOCTYPE html>
<html>
<head>
<title>Nudge</title>
<script type="text/javascript" src="../js/index.events.js"></script>
<link href='http://fonts.googleapis.com/css?family=Fascinate+Inline' rel='stylesheet' type='text/css'>
<link href='../css/nudge.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="wrap">
    <h1>nudge</h1>
    <p><b>v 0.0.2 </b></p>
    <p> A simple client for Alarming </p>
    <button id="mybutton">Press Me!</button>
    <label id="mylabel"></label>
  </div>

  <div id="mix">
  </div>
  
</body>
</html>